{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputLogin" class="sr-only">sex</label>
    <input type="text" name="sex" id="inputLogin" class="form-control" placeholder="Ваш пол" required autofocus>
    <label for="inputPassword" class="sr-only">phone</label>
    <input type="text" name="phone" id="inputPassword" class="form-control" placeholder="Телефон" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        гоу гоу
    </button>
</form>
{% endblock %}
