{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vk_auth.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="vk-auth-info-text">
            <p class="lead">
                Мы поможем вам побывать в новых интересных местах, весело провести время и каждый раз знакомиться с несколькими новыми людьми и завести новые связи, друзей и отношения
                <img src="https://pic.sopili.net/pub/emoji/twitter/2/72x72/1f609.png" width=20 height=20>
            </p>
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <a class="vk-auth-btn" href="{{ vk_auth_url }}"><i class="fab fa-vk"></i></a>
                <p class="vk-auth-btn-help">Войти через Вконтакте</p>
            </div>

        </div>
    </div>
{% endblock %}
