.block {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.0975);
    padding: 25px;
}

.block-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    color: #1d2124;
}

.block-body {
    font-size: 16px;
}
