.event-party-status {
    text-align: center;
    font-size: 20px;
    margin: 5px 0 15px 0;
}

.event-party-tabs-wrapper {
    border-bottom: none;
    line-height: 1.3em;
}

.participants-wrapper {
    margin: 14px 0 5px 0;
}

.chat-block {
    padding: 20px 20px 15px 20px;
}

.chat-messages-block {
    font-size: 14px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: auto;
    margin-right: -18px;
    padding-right: 24px;
    word-wrap: break-word;
}

.chat-messages-block p {
    margin-bottom: 10px;
}

.chat-message-input {
    height: 45px;
    resize:none;
    border: none;
    padding-top: 15px;
    width: 100%;
}

.chat-message-input:focus {
    outline: none;
}

.chat-send-message-btn {
    font-size: 16px;
}

.chat-send-message-btn:hover {
    text-decoration: none;
}

.event-party-actions {
    margin-top: 20px;
}

/* =================================== TAB INFO ====================================== */

.event-title {
    text-align: center;
    margin-bottom: 20px;
}

.event-description p {
    margin-bottom: 20px;
}

.event-description {
    margin-bottom: 40px;
}

.media-wrapper {
    padding: 0;
}

.media {
    margin: 1%;
    width: 31%;
    background-color: black;
    float: left;
}

.media img, .media iframe, .media video {
    width: 100%;
}

.media video {
    margin-top: 22px;
}

.media iframe {
    margin-top: 7px;
}

.p5 {
    padding: 5px;
}

.event-party-title {
    height: 47px;
    margin-bottom: 0;
}

/* ============== GALLERY =========== */

.lg-outer {
    background-color: rgba(0, 0, 0, 0.85);
}

.lg-backdrop {
    background-color: transparent;
}

.demo-gallery > ul {
    margin-bottom: 0;
}
.demo-gallery > ul > li {
    margin-bottom: 15px;
}
.demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    width: 100%;
}
.demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}
.home .demo-gallery {
    padding-bottom: 80px;
}
#aniimated-thumbnials .demo-gallery a {
    width: 190px;
    height: 132px;
}
