.event-party-tabs-wrapper {
    border-bottom: none;
}

.event-party-title {
    height: 47px;
    margin-bottom: 15px;
}

.participants-number-info {
    font-size: 14px;
    margin-bottom: 10px;
}

.participants-wrapper {
    margin-bottom: 5px;
}

.chat-messages-block {
    font-size: 14px;
    margin-bottom: 20px;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
    overflow-y: auto;
    margin-right: -18px;
    padding-right: 24px;
    word-wrap: break-word;
}

.chat-messages-block p {
    margin-bottom: 10px;
}

.chat-message-input {
    height: 45px;
    resize:none;
    border: none;
    padding-top: 15px;
    width: 100%;
}

.chat-message-input:focus {
    outline: none;
}

.chat-block {
    padding: 20px 20px 15px 20px;
}

.chat-send-message-btn {
    font-size: 16px;
}

.chat-send-message-btn:hover {
    text-decoration: none;
}

.more {
    font-size: 12px;
}