.event-party-tabs-wrapper {
    border-bottom: none;
}

.event-party-title {
    height: 47px;
    margin-bottom: 15px;
}

.participants-number-info {
    font-size: 14px;
    margin-bottom: 10px;
}

.participants-wrapper {
    margin-bottom: 5px;
}

.chat-wrapper {
    font-size: 14px;
    margin-bottom: 20px;
    height: 350px;
    overflow-y: scroll;
    margin-right: -22px;
}

.more {
    font-size: 12px;
}