.menu-wrapper {
    margin-top: -15px;
    padding: 35px 15px 15px 15px;

    position: relative;
    background-color: rgb(245, 245, 245);
}

.search-btn-wrapper {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    margin-bottom: 15px;
}

.menu-party-wrapper {
    font-size: 12px;
    padding: 10px;
}
