.user-party-wrapper {
    margin-bottom: 20px;
}

.event-party-history-wrapper {
    margin-bottom: 20px;
}

.event-party-history-btn {
    width: 100%;
    border-color: rgba(0,0,0,.0975);
}

.search-criteria-wrapper {
    font-size: 14px;
}

.search-event-party-btn {
    width: 100%;
}
