.users-block {
    .user-icon-block {
        float: left;
    }
}

.user-icon-block {
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

.user-icon-block img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.current-user .user-icon-name {
    font-weight: bold;
    color: #212529;
}
