.event-title {
    text-align: center;
    margin-bottom: 20px;
}

.event-description p {
    margin-bottom: 20px;
}

.event-description {
    margin-bottom: 40px;
}

.media-wrapper {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.event-party-title {
    height: 47px;
    margin-bottom: 0;
}

.media {
    padding: 0;
}

.mt-25vh {
    margin-top: 25vh;
}
