@import "./components/loader";
@import "./components/eventParty/tabs";
@import "./components/eventParty/gallery";

.event-party-status {
    text-align: center;
    font-size: 20px;
    margin: 5px 0 15px 0;
}

.event-party-tabs-wrapper {
    border-bottom: none;
    line-height: 1.3em;
}

.participants-wrapper {
    margin: 18px 0 5px 0;
}

.chat-block {
    padding: 20px 20px 15px 20px;
}

.chat-messages-block {
    font-size: 14px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: auto;
    margin-right: -18px;
    padding-right: 24px;
    word-wrap: break-word;
}

.chat-messages-block p {
    margin-bottom: 10px;
}

.chat-message-input {
    height: 45px;
    resize:none;
    border: none;
    padding-top: 15px;
    width: 100%;
}

.chat-message-input:focus {
    outline: none;
}

.chat-send-message-btn {
    font-size: 16px;
}

.chat-send-message-btn:hover {
    text-decoration: none;
}

.event-party-actions {
    margin-top: 20px;
}
