{% trans_default_domain 'base' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aloner{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="app-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 logo-wrapper ">
                        <a href="/" class="d-inline-block text-decoration-none">
                            <img class="logo-img" src="{{ asset('build/static/img/app_logo.png') }}" alt="(AL)">
                            <span class="logo-text">Aloner</span>
                        </a>

                        {% if is_granted(constant('App\\Entity\\User::ROLE_FULL_REG')) %}
                            <a class="float-right" href="{{ path('app_logout') }}">{% trans %}Выйти{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="app-content">
            {% block body %}{% endblock %}
        </div>

        <footer class="app-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        2019 &copy; Aloner | {% trans %}Поддержка{% endtrans %}
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
