<div class="alert alert-info meeting-point-alert"
     data-offer-id="{{ offerId }}"
     data-url="{{ path('app_meeting_point_offer_answer', {id: epId}) }}"
>
    <div>Предложено новое время и место встречи:</div>
    <p class="meeting-point-text font-weight-bold mb-2">{{ place }} - {{ meetingDataText }}</p>

    <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary accept-meeting-point-offer" data-answer="1">Подходит</button>
        <button type="button" class="btn btn-sm btn-secondary reject-meeting-point-offer" data-answer="0">Не подходит</button>
    </div>
</div>