<div class="alert alert-info meeting-point-alert" data-offer-id="{{ offerId }}">
    <div class="meeting-point-text mb-2">
        {% for key, line in lines %}
            <div class="{% if (key ~ '') == 'point' %}font-weight-bold{% endif %}">{{ line }}</div>
        {% endfor %}
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-sm btn-primary accept-meeting-point-offer"
                data-url="{{ path('app_answer_mo', {epId: epId, offerId: epId, answer: 1}) }}"
        >Подходит</button>

        <button type="button" class="btn btn-sm btn-secondary offer-another-meeting-point"
                data-toggle="modal"
                data-target="#meetingPointOfferModal"
                data-url="{{ path('app_offer_mo', {id: epId}) }}"
        >Нет, предложить другое</button>
    </div>
</div>