{% macro print(timetable, type) %}
    {% if type == constant('App\\Entity\\Event::TIMETABLE_TYPE_DAY') %}
        {{ timetable.timeFrom|date('H:i') }} - {{ timetable.timeTo|date('H:i') }}<br>
    {% elseif type == constant('App\\Entity\\Event::TIMETABLE_TYPE_VISIT') %}
        <span class="badge badge-light">
            {{ timetable.timeFrom|date('H:i') }} - {{ timetable.timeTo|date('H:i') }}
        </span>
    {% endif %}
{% endmacro %}