<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}

            {{ form_row(form.place) }}
            {{ form_row(form.preTime) }}

            {{ form_end(form) }}
        </div>
    </div>
</div>