<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table cellpadding="6">
                <tr>
                    <td>
                        <b>Время мероприятия:</b>
                        <span class="ml-1">Не выбрано</span>
                    </td>
                    <td><button type="button" class="btn btn-sm btn-primary js-time-offer">Предложить</button></td>
                </tr>
                <tr>
                    <td>
                        <b>Место встречи:</b>
                        <span class="ml-1">{{ constant('App\\Entity\\EventParty::DEFAULT_MEETING_PLACE') }}</span>
                    </td>
                    <td><button type="button" class="btn btn-sm btn-primary js-place-offer">Предложить</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

